---
export interface Props {
  tags: string[];
  class?: string;
}

const { tags, class: className = "" } = Astro.props;
---

<div class={`tag-list ${className}`}>
  {tags.map((tag) => (
    <span class="tag">{tag}</span>
  ))}
</div>